* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 1200px;
  height: 300px;
  margin-inline: auto;
  /* background-color: #249380; */
}

.main-container_1 {
  display: inline-block;
  height: 300px;
  width: 300px;
  background-color: #1c3041;
  border-radius: 0.5cm;
  /* margin-left: -4px; */
  vertical-align: top;
  margin-right: 100px;
}

.main-container_2 {
  display: inline-block;
  height: 300px;
  width: 300px;
  background-color: #ffd500;
  border-radius: 0.5cm;
  margin-left: -4px;
  margin-right: 100px;
  vertical-align: top;
}

.main-container_3 {
  display: inline-block;
  height: 300px;
  width: 400px;
  background-color: #00d6b3;
  border-radius: 0.5cm;
  margin-left: -4px;
}

.main-container_3__div {
  width: 237px;
  margin-inline: auto;
  margin-top: 100px;
  background-color: #bf6083;
}

.main-container_small1 {
  display: block;
  height: 94px;
  width: 94px;
  background-color: #bf6083;
  margin-top: 100px;
  margin-inline: auto;
  border: 3px solid #00d6b3;
  font-size: 9px;
}

.main-container_small2 {
  display: block;
  height: 74px;
  width: 74px;
  background-color: #00d6b3;
  margin-top: 100px;
  margin-inline: auto;
  border: 3px solid #1c3041;
  padding: 10px;
  font-size: 9px;
}

.main-container_3 div {
  display: inline-block;
  height: 74px;
  width: 74px;
  background-color: #ffd500;
  margin-top: 100px;
  margin-inline: auto;
  margin-left: 70px;
  border: 3px solid #1c3041;
  padding: 10px;
  font-size: 9px;
}
