.main-container_1 {
  display: inline-block;
  height: 300px;
  width: 300px;
  background-color: #1c3041;
  border-radius: 0.5cm;
  margin-left: -4px;
  margin-right: 100px;
}

.main-container_2 {
  display: inline-block;
  height: 300px;
  width: 300px;
  background-color: #ffd500;
  border-radius: 0.5cm;
  margin-left: -4px;
  margin-right: 100px;
}

.main-container_3 {
  display: inline-block;
  height: 300px;
  width: 400px;
  background-color: #00d6b3;
  border-radius: 0.5cm;
  margin-left: -4px;
  margin-right: 100px;
}

.main-container_small1 {
  display: inline-block;
  height: 87px;
  width: 87px;
  background-color: #bf6083;
  margin-left: 100px;
  margin-top: 100px;
  border: 3px solid #00d6b3;
  padding: 10px;
  font-size: 9px;
}

.main-container_small2 {
  display: inline-block;
  height: 87px;
  width: 87px;
  background-color: #00d6b3;
  margin-left: 100px;
  margin-top: 100px;
  border: 3px solid #1c3041;
  padding: 10px;
  font-size: 9px;
}

.main-container_3 > p {
  display: inline-block;
  height: 87px;
  width: 76px;
  margin-top: 100px;
  margin-left: 45px;
  margin-right: 45px;
  background-color: #ffd500;
  border: 3px solid #1c3041;
  padding: 10px;
  font-size: 9px;
}
